<section class='landing-section landing-gbh' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Earth Day Celebration 2016</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
            Want to choose the bands to play at our Earth Day Celebration<br />and help fund Green Columbus' volunteer week?
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6 gbh-logo'>
        <%= image_tag 'tenant_logos/greencolumbus.png' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Choose the bands</h2>
          <p>
            Vote with your dollars on your favorite bands to play at Green
            Columbus' Earth Day Celebration on April 23. The money raised will
            go to fund supplies for volunteers in Columbus the week before the
            celebration. Your contribution will either go to tree seeds,
            shovels, or topsoil, to make Columbus greener!
          </p>

          <h2>Week of volunteering</h2>
          <p>
          Sign up to volunteer at any one of our sites and use the supplies you
          helped crowd fund! We will be planting trees all over Columbus as a
          way to celebrate Earth Day. Make sure to come out and join us!
          </p>

          <h2>Earth Day Celebration</h2>
          <p>
          After a week of hard work, we'll have a party in the Columbus
          Commons. The bands you chose to play will be performing over the
          weekend. Come and enjoy the music and celebrates this beautiful Earth
          we live in.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
