@mixin card {
  background-color: $card-background-color;
  border-bottom: 2px solid $brand-primary;
}

.card {
  @include card;
  .card-header, .card-body, .card-actions {
    padding: $card-padding;
  }

  .card-header {
    background-color: $gray-light;
    font-weight: 600;
    font-size: ms(1);

    h1, h2, h3, h4 {
      font-size: ms(1);
    }

    small {
      display: block;
      font-size: ms(0);
      font-weight: normal;
    }
  }

  .card-actions {
    background-color: lighten($gray-light, 2%);
    // border-top: 1px solid $gray-light;
    text-align: center;
  }
}

