<%= render 'header' %>

<div class='project-application-successful'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>

        <h1>
          <%= icon 'check-circle-o' %>
          Thanks for reaching out
        </h1>

        <p>
        Your application has been submitted successfully.<br />
        We'll be in touch to discuss any next steps. Thanks!
        </p>

        <%= link_to 'Return to home', root_path, class: 'btn btn-primary home-btn' %>
      </div>
    </div>
  </div>
</div>
