#main-navbar {
  background-color: $white;
  margin-bottom: 0;
  border-width: 0;

  .composite-logo {
    height: $line-height-computed;
    line-height: $line-height-computed;
    .logo {
      border-right: 1px solid $brand-primary;
      padding-right: $grid-gutter-width / 2;
      vertical-align: middle;
      position: relative;
      top: -25%;
    }
    .tenant {
      padding-left: $grid-gutter-width / 2;
      font-size: ms(1);
    }
  }

  .logo {
    height: 25px;
  }

  .navbar-nav {
    li {
      font-size: ms(0);
    }
  }

  .navbar-total {
    margin: 0;
    padding: $nav-link-padding;
    color: $brand-primary;
    font-weight: 600;
    position: relative;
    line-height: $line-height-computed;
  }

  .navbar-progress {
    height: 3px;
    width: 100%;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar-total {
      padding-top:    $navbar-padding-vertical;
      padding-bottom: $navbar-padding-vertical;
    }
  }
}
