
.project-application {
  margin-top: $grid-gutter-width * 2;
  margin-bottom: $grid-gutter-width * 2;

  .question-group {
    border-bottom: none;
  }

  .application-actions {
    .card-body {
      text-align: center;
    }
    button {
      padding: 1em 2em;
    }
  }

  .question-group-help {
    background-color: darken($card-background-color, 2%);
    padding: $grid-gutter-width;
  }
}

