
// Not sure why this is not picked up here even though it is imported in
// application.scss
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/icons";

.project-application {
  margin-top: $grid-gutter-width * 2;
  margin-bottom: $grid-gutter-width * 2;

  .question-group {
    border-bottom: none;
    margin-bottom: $line-height-computed;
  }

  .application-actions {
    .card-body {
      text-align: center;
    }
    button {
      padding: 1em 2em;
    }
  }

  .question-subgroup:last-child {
    margin-bottom: 0;
  }

  .question-subgroup-title {
    font-weight: bold;
    font-size: ms(0);
    color: $text-color;
    border-bottom: none;
    margin-bottom: 0;
  }

  .question-subgroup-help {
    font-weight: normal;
    font-size: ms(0);
    color: $text-color;
  }

  .question-subgroup-body .form-group:first-child {
    margin-top: $grid-gutter-width;
  }

  .question-group-help-title {
    background-color: lighten($orange, 15%);
    font-weight: bold;
  }

  .question-group-help-content {
    background-color: lighten($orange, 20%);
  }

  .question-group-help-title, .question-group-help-content {
    padding: $grid-gutter-width;
  }

  .group-toggle {
    color: inherit;
    text-decoration: inherit;

    &::before {
      @include fa-icon();
      display: inline-block;
      font-size: 0.75em;
      margin-right: $grid-gutter-width / 2;
      vertical-align: middle;
      position: relative;
      top: -0.12em;
      content: $fa-var-chevron-down;
      width: 1em;
    }

    &.collapsed::before {
      content: $fa-var-chevron-right;
    }
  }

}

.project-application-successful {
  text-align: center;

  margin-top: $grid-gutter-width * 4;
  margin-bottom: $grid-gutter-width * 4;

  h1 {
    font-weight: bold;
    font-size: ms(2);
    line-height: $line-height-computed;
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed * 2;
  }

  p {
    font-size: ms(0);
  }

  .home-btn {
    margin-top: $line-height-computed * 3;
  }

  .fa {
    color: $brand-success;
    line-height: $line-height-computed * 2;
  }

  @media only screen and (min-width: $screen-sm) {
    margin-top: $grid-gutter-width * 8;
    margin-bottom: $grid-gutter-width * 8;

    h1 {
      font-weight: bold;
      font-size: ms(3);
      line-height: $line-height-computed * 2;
      margin-bottom: $line-height-computed * 2;
    }

    p {
      font-size: ms(1);
    }

    .home-btn {
      margin-top: $line-height-computed * 3;
    }
  }
}
