.transaction {

  &-form-new {
    padding: $grid-gutter-width * 2 0;

    .giving-sentence {
      background-color: $gray-light;
      font-size: ms(3);
      padding: $grid-gutter-width;
      text-align: center;

      input, select {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $brand-primary;
        font-weight: 600;
        height: 1.5em;
        line-height: 1.5;
        color: $brand-primary;
        &:active, &:focus {
          outline: none;
        }
      }

      .amount-field {
        width: 4em;
        text-align: right;
      }
    }

    .form-content {
      padding: $grid-gutter-width;
      background-color: $body-content-bg;
    }

    .project {
      &-description-title {
        font-size: ms(1);
        font-weight: 600;
        margin-bottom: $line-height-computed;
      }
    }

    .payment-spinner {
      font-size: ms(1);
      text-align: center;
      margin: $grid-gutter-width 0;
    }

    .payment-form {
      &.loading {
        opacity: 0;
      }

      @include transition(opacity 0.5s);
    }

    .braintree-control {
      @extend .form-control;
      position: relative;

      &.braintree-hosted-fields-focused {
        @include form-control-active;
      }


      &.braintree-hosted-fields-invalid {
        @include form-control-error;
      }

      &.disabled {
        cursor: $cursor-disabled;
      }
    }

    .transaction-actions {
      @include clearfix;

      input[type=submit] {
        float: right;
      }

      img {
        max-height: $input-height-base;
      }
    }
  }

  .thank-you {
    &-message {
      padding: $grid-gutter-width * 3 0;
      font-size: ms(2);
      text-align: center;
      line-height: ms(4);
    }

    &-project-name {
      font-size: ms(3);
      display: block;
      font-weight: bold;
    }

    &-see-more {
      padding: $grid-gutter-width * 2 0;
      //background-color: fade-out($brand-primary, 0.9);
      background-color: mix(white, $brand-primary, 90%);
    }

    &-see-more-intro {
      font-size: ms(1);
      line-height: ms(3);
      text-align: center;
      padding: 0 0 $grid-gutter-width 0;
    }
  }
}
